.menu_aside {
  font-family: 'Proxima Nova Bold';
  display: flex;
  align-items: center;
  gap: 31px;

  &__contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 3px;

    a {
      color: var(--text-color-dark);
      transition: 0.4s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 995px) {
  .menu_aside {
    &__contacts {
      display: none;
    }

    &__orderBtn {
      display: none;
    }

  }
}