.header{
  background: var(--theme-default-header);
  backdrop-filter: blur(1px);
  position: fixed;
  margin-top: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16.4px 0;
  }
}