.hero {
  // background-image: var(--theme-default-bg-hero);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 60px 0px;

  &__wrapper {
    padding: 140px 0 70px 0;
    display: flex;
    gap: 165px;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 45px 45px 45px;
    background: var(--theme-default-header);
    backdrop-filter: blur(1px);
    border-radius: 10px;
  }

  &__contents_text_h1 {
    font-family: 'Proxima Nova Semibold';
    font-size: 48px;
    line-height: 58px;
  }

  &__contents_text_p {
    margin: 40px 0 0 0;
    font-family: 'Proxima Nova Regular';
    font-size: 18px;
    line-height: 22px;
  }

  &__img {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left top;
    }
  }
}

@media (max-width: 1230px) {
  .hero {
    &__wrapper {
      gap: 20px;
    }
  }
}

@media (max-width: 995px) {
  .hero {
    &__wrapper {
      gap: 60px;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    &__contents {
      gap: 20px;
    }

  }
}

@media (max-width: 560px) {
  .hero {

    &__img {
      min-width: 100%;
      max-width: 100%;
      min-height: calc(100vw - 30px);
      max-height: calc(100vw - 30px);
    }

  }
}
.hero {
  background-image: url('../images/hero-bg-light.png');
}

.hero.dark {
  background-image: url('../images/hero-bg.png');
}