.sidebarcard {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
  background: var(--theme-default-header);
  border: 1px solid #4E4E4E;
  backdrop-filter: blur(1px);
  overflow: hidden;

  &__img {
    width: 100%;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 61.51%;
    }

    &>img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__title {
    font-family: 'Proxima Nova Semibold';
    font-size: 20px;
    line-height: 24px;
    margin: 15px 20px 25px 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}