@import "_nullstyle";

/*
!-------------fonts----------------!
*/


@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../src/font/ProximaNovaRegular/ProximaNova-Regular.woff);
}

@font-face {
  font-family: 'Proxima Nova Regular Italic';
  src: url(../src/font/ProximaNovaRegularItalic/ProximaNova-RegularIt.woff);
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url(../src/font/ProximaNovaSemibold/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url(../src/font/ProximaNovaSemiboldItalic/ProximaNova-SemiboldIt.woff);
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(../src/font/ProximaNovaBold/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(../src/font/GilroyRegular/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Gilroy Semibold';
  src: url(../src/font/GilroySemibold/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url(../src/font/NunitoSansRegular/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: 'Nunito Sans Semibold';
  src: url(../src/font/NunitoSansSemibold/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url(../src/font/FuturaPTHeavy/FuturaPT-Heavy.ttf);
}

@font-face {
  font-family: 'Futura PT Book';
  src: url(../src/font/FuturaPTBook/FuturaPT-Book.ttf);
}

@font-face {
  font-family: 'Banana Brick';
  src: url(../src/font/BananaBrick/Banana\ Brick.ttf);
}

/*
!------------variables-------!
*/
@import '_variables';

body {
  min-width: 320px;
  // min-height: 100vh;

}

.layout {
  background-color: var(--bg-color-light);
  min-height: 100vh;
  color: var(--text-color-light);

  a {
    color: var(--text-color-light);
  }
}

.layout.dark {
  background-color: var(--bg-color-dark);
  min-height: 100vh;
  color: var(--text-color-dark);

  a {
    color: var(--text-color-dark);

    &:hover {
      opacity: 0.7;
    }
  }
}

.themebtn {

  &__bg {
    display: flex;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #5454D4;
    border-radius: 50%;
    top: 1px;
    right: 48px;
    z-index: 0;
    transition: 0.4s ease-in-out;
  }

  &__bg.active {
    right: 1px;
  }

  &__light {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.75px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

  &__light.active {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.75px;
    border-radius: 50%;
    z-index: 48;
    position: relative;
  }
}

@media (max-width: 995px) {
  .themebtn {

    &__bg {
      display: none;
    }

    &__bg.active {
      display: none;
    }

    &__light.active {
      background-color: #5454D4;
    }
  }
}

.hero {
  background-image: url('../images/hero-bg-light.png');
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: center;
}

.hero.dark {
  background-image: url('../images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

}

