.contacts {
  padding: 120px 30px 0 30px;
  max-width: 1260px;
  margin: 0 auto;

  &__title {
    font-family: 'Proxima Nova Bold';
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }
}